In [1]:
#Import dependencies 
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
load_school_data = "../Resources/schools_complete.csv"
load_student_data = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(load_school_data)
student_data = pd.read_csv(load_student_data)

# Combine the data into a single dataset.  
complete_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
##DISTRICT SUMMARY

#Calculate the total number of schools
number_of_schools = complete_school_data["school_name"].nunique()
number_of_schools

#Calculate the total number of students
number_of_students = complete_school_data["student_name"].count()
number_of_students

#Calculate the total budget
school_budgets = complete_school_data["budget"].unique()
total_budget = school_budgets.sum()
total_budget

#Calculate the average math score
av_math = complete_school_data["math_score"].mean()
av_math

#Calculate the average reading score
av_reading = complete_school_data["reading_score"].mean()
av_reading

#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = complete_school_data.loc[complete_school_data["math_score"] >=70, "student_name"]
total_math_pass = ((math_pass.count())/(number_of_students))*100
total_math_pass

#Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = complete_school_data.loc[complete_school_data["reading_score"] >=70, "student_name"]
total_reading_pass = ((reading_pass.count())/(number_of_students))*100
total_reading_pass

#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_pass = complete_school_data.loc[(complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70), "student_name"]
percent_both_pass = ((both_pass.count())/(number_of_students))*100
percent_both_pass

#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [number_of_schools],
                              "Total Students": number_of_students,
                              "Total Budget": total_budget,
                              "Average Math Score": av_math,
                              "Average Reading Score": av_reading, 
                              "% Passing Math" : total_math_pass, 
                              "% Passing Reading" : total_reading_pass, 
                              "% Overall Passing": percent_both_pass})

#Optional: give the displayed data cleaner formatting
summary_df.style.format({"Total Students" : "{0:,}",
                         "Total Budget" : "${0:,.2f}",
                         "Average Math Score" : "{:.3f}",
                         "Average Reading Score" : "{:.3f}",
                         "% Passing Math": "{:.4}%", 
                         "% Passing Reading": "{:.4}%", 
                         "% Overall Passing": "{:.4}%" })

In [3]:
#SCHOOL SUMMARY 
#Create an overview table that summarizes key metrics about each school, including:

# School Name
schools_grouped = complete_school_data.groupby(['school_name'])

# School Type
types_byschool = school_data.set_index(["school_name"])["type"]
#print(types_byschool)

# Total Students
student_byschool = complete_school_data["school_name"].value_counts()
#print(student_byschool)

# Total School Budget
budget_byschool = schools_grouped["budget"].mean()
#print(budget_byschool)

#Per Student Budget
per_student_byschool = budget_byschool/student_byschool
#print(per_student)

# Average Math Score
av_math_byschool = schools_grouped["math_score"].mean()

# Average Reading Score
av_reading_byschool = schools_grouped["reading_score"].mean()

# % Passing Math
percent_pass_math_byschool = complete_school_data[(complete_school_data['math_score'] >=70)].groupby('school_name').count()["student_name"]/student_byschool*100
#print(percent_pass_math_byschool)

# % Passing Reading
percent_pass_reading_byschool = complete_school_data[(complete_school_data['reading_score'] >=70)].groupby('school_name').count()["student_name"]/student_byschool*100
#print(percent_pass_reading_byschool)

# % Overall Passing (The percentage of students that passed math and reading.)
overall_pass_rate_byschool = ((complete_school_data[(complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70)].groupby("school_name").count()["student_name"])/(student_byschool))*100
#print(overall_pass_rate_byschool)

#Create a dataframe to hold the above results
summary_byschool = pd.DataFrame({"School Type": types_byschool,
                                 "Total Students": student_byschool,
                                 "Total School Budget": budget_byschool,
                                 "Average Math Score": av_math_byschool,
                                 "Average Reading Score": av_reading_byschool,
                                 "% Passing Math" : percent_pass_math_byschool,
                                 "% Passing Reading" : percent_pass_reading_byschool,
                                 "% Overall Passing": overall_pass_rate_byschool, 
                                 "Per Student Budget": per_student_byschool})

#Rearrange the order
summary_byschool_ordered = summary_byschool [["School Type", 
                                   "Total Students", 
                                   "Total School Budget",
                                   "Per Student Budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing"]]

# Format table
summary_byschool_ordered.style.format({"Total Students" : "{0:,}",
                         "Total School Budget" : "${0:,.2f}",
                         "Per Student Budget" : "${0:,.2f}",
                         "Average Math Score" : "{:.3f}",
                         "Average Reading Score" : "{:.3f}",
                         "% Passing Math": "{:.4}%", 
                         "% Passing Reading": "{:.4}%", 
                         "% Overall Passing": "{:.4}%" })

In [4]:
#Top Performing Schools (By % Overall Passing) #Sort and display the top five performing schools by % overall passing

top_performing = summary_byschool_ordered.sort_values("% Overall Passing", ascending=False) 
top_performing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [5]:
# Bottom Performing Schools (By % Overall Passing)
# Sort and display the five worst-performing schools by % overall passing.

top_performing = summary_byschool_ordered.sort_values("% Overall Passing", ascending=True) 
top_performing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [6]:
# Math Scores by Grade
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade.
#complete_school_data["grade"].unique()
math_9 = complete_school_data.loc[complete_school_data["grade"] == "9th" , :]
math_10 = complete_school_data.loc[complete_school_data["grade"] == "10th" , :]
math_11 = complete_school_data.loc[complete_school_data["grade"] == "11th" , :]
math_12 = complete_school_data.loc[complete_school_data["grade"] == "12th" , :]

# Group each series by school
nine_grouped = math_9.groupby("school_name").mean()["math_score"]
ten_grouped = math_10.groupby("school_name").mean()["math_score"]
el_grouped = math_11.groupby("school_name").mean()["math_score"]
twl_grouped = math_12.groupby("school_name").mean()["math_score"]

# Combine the series into a dataframe
merged_math1 = pd.merge(nine_grouped, ten_grouped, on="school_name")
merged_math2 = pd.merge(merged_math1, el_grouped, on="school_name")
merged_math3 = pd.merge(merged_math2, twl_grouped, on="school_name")

# Optional: give the displayed data cleaner formatting
merged_math3.columns = ["9th", "10th", "11th", "12th"]
merged_math3

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [7]:
# Reading Scores by Grade
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Create a pandas series for each grade.
read_9 = complete_school_data.loc[complete_school_data["grade"] == "9th" , :]
read_10 = complete_school_data.loc[complete_school_data["grade"] == "10th" , :]
read_11 = complete_school_data.loc[complete_school_data["grade"] == "11th" , :]
read_12 = complete_school_data.loc[complete_school_data["grade"] == "12th" , :]

# Group each series by school
nine_grouped_r = math_9.groupby("school_name").mean()["reading_score"]
ten_grouped_r = math_10.groupby("school_name").mean()["reading_score"]
el_grouped_r = math_11.groupby("school_name").mean()["reading_score"]
twl_grouped_r = math_12.groupby("school_name").mean()["reading_score"]

# Combine the series into a dataframe
merged_read1 = pd.merge(nine_grouped_r, ten_grouped_r, on="school_name")
merged_read2 = pd.merge(merged_read1, el_grouped_r, on="school_name")
merged_read3 = pd.merge(merged_read2, twl_grouped_r, on="school_name")

# Optional: give the displayed data cleaner formatting
merged_read3.columns = ["9th", "10th", "11th", "12th"]
merged_read3

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [12]:
# Scores by School Spending
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. 

bins = [0, 590, 620, 640, 655]
bin_names = ["<590", "591-620", "621-640", ">640"]

summary_byschool_ordered["Spending Ranges (Per Student)"] = pd.cut(summary_byschool_ordered["Per Student Budget"], bins, labels=bin_names, include_lowest=True)
grouped_per_student = summary_byschool_ordered.groupby("Spending Ranges (Per Student)")

#Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
grouped_per_student[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

/Users/kristin/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<590,83.455399,83.933814,93.460096,96.610877,90.369459
591-620,83.599686,83.885211,94.230858,95.900287,90.216324
621-640,79.474551,82.120471,77.139934,87.468080,68.476495
>640,77.023555,80.957446,66.701010,80.675217,53.717613