In [1]:
#Import dependencies 
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
load_school_data = "../Resources/schools_complete.csv"
load_student_data = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(load_school_data)
student_data = pd.read_csv(load_student_data)

# Combine the data into a single dataset.  
complete_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
##DISTRICT SUMMARY

#Calculate the total number of schools
number_of_schools = complete_school_data["school_name"].nunique()
number_of_schools

#Calculate the total number of students
number_of_students = complete_school_data["student_name"].count()
number_of_students

#Calculate the total budget
school_budgets = complete_school_data["budget"].unique()
total_budget = school_budgets.sum()
total_budget

#Calculate the average math score
av_math = complete_school_data["math_score"].mean()
av_math

#Calculate the average reading score
av_reading = complete_school_data["reading_score"].mean()
av_reading

#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = complete_school_data.loc[complete_school_data["math_score"] >=70, "student_name"]
total_math_pass = ((math_pass.count())/(number_of_students))
total_math_pass

#Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = complete_school_data.loc[complete_school_data["reading_score"] >=70, "student_name"]
total_reading_pass = ((reading_pass.count())/(number_of_students))
total_reading_pass

#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_pass = complete_school_data.loc[(complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70), "student_name"]
percent_both_pass = ((both_pass.count())/(number_of_students))
percent_both_pass

#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [number_of_schools],
                              "Total Students": number_of_students,
                              "Total Budget": total_budget,
                              "Average Math Score": av_math,
                              "Average Reading Score": av_reading, 
                              "% Passing Math" : total_math_pass, 
                              "% Passing Reading" : total_reading_pass, 
                              "% Overall Passing": percent_both_pass})

#Optional: give the displayed data cleaner formatting
summary_df.style.format({"Total Students" : "{0:,}",
                         "Total Budget" : "${0:,.2f}",
                         "Average Math Score" : "{:.3f}",
                         "Average Reading Score" : "{:.3f}",
                         "% Passing Math": "{:.2%}", 
                         "% Passing Reading": "{:.2%}", 
                         "% Overall Passing": "{:.2%}" })

In [9]:
#SCHOOL SUMMARY 
#Create an overview table that summarizes key metrics about each school, including:

# School Name
schools_grouped = complete_school_data.groupby(['school_name'])

# School Type
types_byschool = school_data.set_index(["school_name"])["type"]
#print(types_byschool)

# Total Students
student_byschool = complete_school_data["school_name"].value_counts()
#print(student_byschool)

# Total School Budget
budget_byschool = schools_grouped["budget"].mean()
#print(budget_byschool)

#Per Student Budget
per_student_byschool = budget_byschool/student_byschool
#print(per_student)

# Average Math Score
av_math_byschool = schools_grouped["math_score"].mean()

# Average Reading Score
av_reading_byschool = schools_grouped["reading_score"].mean()

# % Passing Math
percent_pass_math_byschool = complete_school_data[(complete_school_data['math_score'] >=70)].groupby('school_name').count()["student_name"]/student_byschool
#print(percent_pass_math_byschool)

# % Passing Reading
percent_pass_reading_byschool = complete_school_data[(complete_school_data['reading_score'] >=70)].groupby('school_name').count()["student_name"]/student_byschool
#print(percent_pass_reading_byschool)

# % Overall Passing (The percentage of students that passed math and reading.)
overall_pass_rate_byschool = complete_school_data[(complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70)].groupby("school_name").count()["student_name"]/student_byschool
#print(overall_pass_rate_byschool)

#Create a dataframe to hold the above results
summary_byschool = pd.DataFrame({"School Type": types_byschool,
                                 "Total Students": student_byschool,
                                 "Total School Budget": budget_byschool,
                                 "Average Math Score": av_math_byschool,
                                 "Average Reading Score": av_reading_byschool,
                                 "% Passing Math" : percent_pass_math_byschool,
                                 "% Passing Reading" : percent_pass_reading_byschool,
                                 "% Overall Passing": overall_pass_rate_byschool, 
                                 "Per Student Budget": per_student_byschool})

#Rearrange the order
summary_byschool_ordered = summary_byschool [["School Type", 
                                   "Total Students", 
                                   "Total School Budget",
                                   "Per Student Budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing"]]

# Format table
summary_byschool_ordered.style.format({"Total Students" : "{0:,}",
                         "Total School Budget" : "${0:,.2f}",
                         "Per Student Budget" : "${0:,.2f}",
                         "Average Math Score" : "{:.3f}",
                         "Average Reading Score" : "{:.3f}",
                         "% Passing Math": "{:.2%}", 
                         "% Passing Reading": "{:.2%}", 
                         "% Overall Passing": "{:.2%}" })