In [1]:
#Import dependencies 
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
load_school_data = "../Resources/schools_complete.csv"
load_student_data = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(load_school_data)
student_data = pd.read_csv(load_student_data)

# Combine the data into a single dataset.  
complete_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
##DISTRICT SUMMARY

#Calculate the total number of schools
number_of_schools = complete_school_data["school_name"].nunique()
number_of_schools

#Calculate the total number of students
number_of_students = complete_school_data["student_name"].count()
number_of_students

#Calculate the total budget
school_budgets = complete_school_data["budget"].unique()
total_budget = school_budgets.sum()
total_budget

#Calculate the average math score
av_math = complete_school_data["math_score"].mean()
av_math

#Calculate the average reading score
av_reading = complete_school_data["reading_score"].mean()
av_reading

#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = complete_school_data.loc[complete_school_data["math_score"] >=70, "student_name"]
total_math_pass = ((math_pass.count())/(number_of_students))
total_math_pass

#Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = complete_school_data.loc[complete_school_data["reading_score"] >=70, "student_name"]
total_reading_pass = ((reading_pass.count())/(number_of_students))
total_reading_pass

#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_pass = complete_school_data.loc[(complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70), "student_name"]
percent_both_pass = ((both_pass.count())/(number_of_students))
percent_both_pass

#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [number_of_schools],
                              "Total Students": number_of_students,
                              "Total Budget": total_budget,
                              "Average Math Score": av_math,
                              "Average Reading Score": av_reading, 
                              "% Passing Math" : total_math_pass, 
                              "% Passing Reading" : total_reading_pass, 
                              "% Overall Passing": percent_both_pass})

#Optional: give the displayed data cleaner formatting
summary_df.style.format({"Total Students" : "{0:,}",
                         "Total Budget" : "${0:,.2f}",
                         "Average Math Score" : "{:.3f}",
                         "Average Reading Score" : "{:.3f}",
                         "% Passing Math": "{:.2%}", 
                         "% Passing Reading": "{:.2%}", 
                         "% Overall Passing": "{:.2%}" })

In [25]:
#SCHOOL SUMMARY 
#Create an overview table that summarizes key metrics about each school, including:

# School Name
schools_grouped = complete_school_data.groupby("school_name")

# School Type
types_byschool = complete_school_data["type"]

NameError: name 'bins' is not defined

In [28]:
# Total Students
student_byschool = schools_grouped["student_name"].count()

# Total School Budget
budget_byschool = schools_grouped.sort_values("budget")
budget_byschool

#Per Student Budget
#per_student = complete_school_data['budget']/complete_school_data['size']

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [10]:
# Average Math Score
av_math_byschool = schools_grouped["math_score"].mean()

# Average Reading Score
av_reading_byschool = schools_grouped["reading_score"].mean()

In [11]:
# % Passing Math
number_pass_math = complete_school_data[(complete_school_data["math_score"] >=70)].groupby("school_name").size()
percent_pass_math_byschool = number_pass_math/student_byschool

# % Passing Reading
number_pass_reading = complete_school_data[(complete_school_data["reading_score"] >=70)].groupby("school_name").size()
percent_pass_reading_byschool = number_pass_reading/student_byschool

# % Overall Passing (The percentage of students that passed math and reading.)
number_pass_rate_byschool = complete_school_data[(complete_school_data["math_score"] >=70) & (complete_school_data["reading_score"] >=70)].groupby("school_name").size()
overall_pass_rate_byschool = number_pass_rate_byschool/student_byschool

In [12]:
#Create a dataframe to hold the above results
summary_byschool = pd.DataFrame({"School Type": types_byschool,
                                 "Total Students": student_byschool,
                                 "Total Budget": budget_byschool,
                                 "Average Math Score": av_math_byschool,
                                 "Average Reading Score": av_reading_byschool,
                                 "% Passing Math" : percent_pass_math_byschool,
                                 "% Passing Reading" : percent_pass_reading_byschool,
                                 "% Overall Passing": overall_pass_rate_byschool})
summary_byschool

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,83.682222,83.955000,0.933333,0.966111,0.903333

In [16]:
#Create a dataframe to hold the above results
summary_byschool = pd.DataFrame({"School Type": types_byschool,
                                 "Total Students": student_byschool,
                                 "Total Budget": budget_byschool,
                                 "Average Math Score": av_math_byschool,
                                 "Average Reading Score": av_reading_byschool,
                                 "% Passing Math" : percent_pass_math_byschool,
                                 "% Passing Reading" : percent_pass_reading_byschool,
                                 "% Overall Passing": overall_pass_rate_byschool})

#Rearrange the order
summary_byschool_ordered = summary_byschool [["School Type", 
                                   "Total Students", 
                                   "Total School Budget",
                                   "Per Student Budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing"]]

summary_byschool_ordered

KeyError: "['Per Student Budget', 'Total School Budget'] not in index"

In [ ]:
#EXTRA CODE

#pd.cut(complete_school_data["school_name"], bins, labels=group_labels).head()

#type(student_byschool)

#student_byschool = school_data.set_index("school_name")["size"]

#df['DataFrame Column'] = df['DataFrame Column'].astype(float)

#schools_sorted = complete_school_data.sort_values("school_name")
#schools_sorted.head()

#schools_grouped.count().head()

# Reorganize and rename columns
#organized_df = complete_school_data[["type", "size", "student_name", "" ]]
#renamed_df = complete_school_data.rename(columns={"type":"School Type", "size":"Total Students", "budget":"Total School Budget"})


#renamed_df = complete_school_data.rename(columns={"type":"School Type", "size":"Total Students", "budget":"Total School Budget"})
#renamed_df

#renamed_df = complete_school_data.rename(columns={"type":"School Type", "size":"Total Students", "budget":"Total School Budget"})
#renamed_df

#float(total_math_pass)
#math_pass_byschool = schools_grouped.apply(total_math_pass)
#math_pass_byschool.head()

In [ ]:
# Create a dataframe to hold the above results
summary_byschool = pd.DataFrame({"School Type" : types_byschool,
                                 "Total Students" : student_byschool, 
                                 "Total School Budget" : budget_byschool, 
                                 "Per Student Budget" : per_student, 
                                 "Average Math Score" : av_math_byschool, 
                                 "Average Reading Score" : av_reading_byschool, 
                                 "% Passing Math": percent_pass_math_byschool, 
                                 "% Passing Reading" : percent_pass_reading_byschool, 
                                 "Overall Passing Rate" : overall_pass_rate_byschool})



# #rearrange the order
# summary_byschool = school_summary [["School Type", 
#                                    "Total Students", 
#                                    "Total School Budget",
#                                    "Per Student Budget",
#                                    "Average Math Score",
#                                    "Average Reading Score",
#                                    "% Passing Math",
#                                    "% Passing Reading",
#                                    "Overall Passing Rate"
#                                    ]]